@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,700;0,900;1,700;1,900&family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");
button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.header nav {
  background-color: rgba(0, 0, 0, 0.555);
}
.header nav .logoNav img {
  width: 80px;
}
.header nav .listNav {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: auto 0;
  list-style: none;
  padding: 5px;
}
.header nav .listNav .listItems {
  margin: 0 10px;
  transition: all 0.25s;
}
.header nav .listNav .listItems .listLink {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.25s;
}
.header nav .listNav .listItems .listLink:hover {
  color: #808080;
}
.header .fontPage {
  position: relative;
}
.header .fontPage .carousel {
  height: 100vh;
  animation: fontPage 50s infinite;
}
.header .fontPage .mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}
.header .fontPage .mainTitle h1 {
  font-size: 90px;
}
.header .fontPage .mainTitle p {
  font-size: 20px;
}
.header .fontPage .plataforms {
  display: flex;
  justify-content: space-evenly;
}
.header .fontPage .plataforms a {
  color: white;
  transition: all 0.25s;
}
.header .fontPage .plataforms a i {
  font-size: 35px;
}
.header .fontPage .plataforms a:hover {
  color: #808080;
  transform: scale(1.1);
}
@keyframes fontPage {
  0% {
    background: url(../assets/carouselNav/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  50% {
    background: url(../assets/carouselNav/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  100% {
    background: url(../assets/carouselNav/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
}

.sectionBH {
  margin-top: 15px;
}
.sectionBH .containerBH h2 {
  text-align: center;
}
.sectionBH .containerBH .containerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionRec {
  margin-top: 15px;
}
.sectionRec .containerRe h2 {
  text-align: center;
}
.sectionRec .containerRe .containerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sectionBl {
  margin-top: 15px;
}
.sectionBl .containerBH h2 {
  text-align: center;
}
.sectionBl .containerBH .containerCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  background-color: #111111;
}
footer .containerFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
footer .containerFooter .imgFooter img {
  width: 200px;
}
footer .containerFooter .networks {
  margin: 35px;
  text-align: center;
}
footer .containerFooter .networks h3 {
  font-size: 25px;
}
footer .containerFooter .networks a i {
  font-size: 30px;
  margin: 15px;
  color: #FFFFFF;
  transition: all 0.3s;
}
footer .containerFooter .networks a i:hover {
  color: #808080;
  transform: scale(1.25);
}
footer .containerCopy {
  background-color: #333333;
}
footer .containerCopy p {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card {
  background-color: #000000;
  position: relative;
  width: 350px;
  border-radius: 25px;
  margin: 30px;
}
.card img {
  border-radius: 25px;
  transition: all 0.5s;
}
.card .contentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70%;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.card .contentCard .play {
  margin: auto;
  width: 100px;
}
.card .contentCard .play i {
  font-size: 100px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.card .contentCard .play i:hover {
  transform: scale(1.3);
}
.card .contentCard .socialNetworks p {
  font-weight: bold;
  margin-bottom: 8px;
}
.card .contentCard .socialNetworks .icons {
  display: flex;
  justify-content: space-evenly;
}
.card .contentCard .socialNetworks .icons a i {
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
}
.card .contentCard .socialNetworks .icons a i:hover {
  transform: scale(1.3);
}
.card:hover img {
  opacity: 0.5;
}
.card:hover .contentCard {
  opacity: 1;
}

@keyframes cardBorder {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, red, blue, deeppink, blue, red, deeppink, blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: cardBorder 30s linear infinite;
}

@media screen and (max-width: 991px) {
  .header nav .listNav {
    flex-direction: column;
  }
  .header nav .listNav .listItems {
    margin: 15px 0;
  }
  .header nav .listNav .listItems .listLink:hover {
    color: #FFFFFF;
  }
  .header .fontPage .plataforms a:hover {
    color: #FFFFFF;
    transform: scale(1);
  }
  .card img {
    opacity: 0.5;
  }
  .card .contentCard {
    opacity: 1;
  }
  .card .contentCard .play i:hover {
    transform: scale(1);
  }
  .card .contentCard .socialNetworks .icons a i:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 1045px) {
  .sectionBH .containerBH .containerCard {
    justify-content: center;
  }
  .sectionRec .containerRe .containerCard {
    justify-content: center;
  }
  .sectionBl .containerBH .containerCard {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  section h2 {
    font-size: 25px;
  }
  .card .contentCard {
    width: 100%;
    height: 90%;
    transition: all 0.5s;
  }
  .card .contentCard .play i {
    font-size: 90px;
  }
  .card .contentCard .socialNetworks p {
    margin-bottom: 10px;
  }
  .card .contentCard .socialNetworks .icons a i {
    font-size: 25px;
  }
}
@media screen and (max-width: 449px) {
  footer .containerFooter {
    padding: 20px;
  }
  footer .containerFooter .networks {
    margin: 35px 5px;
  }
  footer .containerFooter .networks a i {
    margin: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
